.adminHeader {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 35px 35px;
}

.adminBtn {
  height: 2.3em;
  padding-top: .5em;
  min-width: 110px;
  font-weight: 600;
  font-size: 1.3em;
  color: var(--black);
  background-color: var(--cool-gray);
  text-align: center;
  border: 1px solid var(--white);
  border-radius: 8px;
}

.adminBtn:hover {
  background-color: var(--black);
  color: var(--aureolin);
  border: 1px solid var(--aureolin);
}

/**** Media Queries ****/

/* Large Desktop And Above */
@media only screen and (min-width: 1441px) {}

/* Standard Desktop and Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .adminBtn {
    height: 2.2em;
    font-size: 1.2em;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .adminBtn {
    height: 2.2em;
    font-size: 1em;
  }
}

/* Tablet Portrait and Large Smartphone */
@media only screen and (min-width: 854px) and (max-width: 991px) {
  .adminHeader {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 11px 11px;
  }
}

/* Smartphone Portrait or Smaller */
@media only screen and (max-width: 853px) {
  .adminHeader {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 11px 11px;
  }
}
