.single-item,
.create-item-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--white);
  margin: 1rem 0;
}

.single-item {
  padding: 0 .1rem 1rem 0;
}

.create-item-form {
  padding: .8rem .1rem;
  background-color: var(--cool-gray);
  align-content: center;
}

.create-item-form p {
  font-style: italic;
  font-weight: 700;
  color: var(--space-cadet);
}

.create-item-form>input {
  width: 35%;
  padding-left: 8px;
  background-color: var(--white);
  border: none;
  height: 35px;
  border: 1px solid var(--white);
  border-radius: 8px;
}


.single-item .data>.data-primary {
  font-weight: 600;
  margin-bottom: 0.2em;
  color: var(--white);
}

.single-item .data>.data-primary>span {
  display: inline-block;
  /*to allow for width to be changed */
  width: 4em;
  border: 1px solid white;
  padding: .1em;
  font-weight: 700;
  font-size: 1.1em;
  margin-right: 0.4em;
  color: var(--white);
}

.single-item .data>.data-secondary {
  color: var(--white);
  padding-left: 5.1em;
}

.action-btns {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.action-btns>button {
  border: 1px solid black;
  outline: 1px solid white;
  width: 3em;
  height: 3em;
}

.action-btns>button:first-child {
  background-color: var(--cool-gray);
}

.action-btns>button:nth-child(2) {
  background-color: var(--white);
}

.action-btns>button:last-child {
  background-color: var(--aureolin);
}

.reactIcons {
  fill: black;
  height: 2.4em;
  width: 2.1em;
}

.action-btns>button:hover,
.action-btns>button:first-child:hover,
.action-btns>button:nth-child(2):hover,
.action-btns>button:last-child:hover {
  border: 1px solid var(--aureolin);
  outline: 1px solid var(--aureolin);
  background-color: black;
  width: 3em;
  height: 3em;
}

.action-btns>button:hover .reactIcons,
.action-btns>button:first-child:hover .reactIcons,
.action-btns>button:nth-child(2):hover .reactIcons,
.action-btns>button:last-child:hover .reactIcons {
  fill: var(--aureolin);
}


/**** Media Queries ****/

/* Large Desktop And Above */
@media only screen and (min-width: 1441px) {}

/* Standard Desktop and Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {}

/* Tablet Landscape */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Portrait and Large Smartphone */
@media only screen and (min-width: 854px) and (max-width: 991px) {}

/* Smartphone Portrait or Smaller */
@media only screen and (max-width: 853px) {}