.protectedItem {
    display: grid;
    grid-template-columns: repeat(1, 1fr 5fr);
    text-align: left;
    gap: 3%;
    padding: 1em;
    border-radius: 14px;
}

.protectedItem * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.protectedItem .title {}


.protectedItem .data {
    font-size: 1.1em;
    font-weight: 700;
    color: var(--space-cadet);
}


/* A bit unusual maybe but icon is actually wrapper of the button */
.protectedItem .actions .reactIcons {
    width: 1.6em;
    height: 1.6em;
}

.protectedItem .actions button {
    /* center icons - this is actually the parent element*/
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.7em;
    width: 2.7em;
    font-weight: 600;
    color: var(--white);
    background-color: var(--space-cadet);
    outline: none;
    border: 1px solid var(--white);
    border-radius: 8px;
    cursor: pointer;
}

.protectedItem .actions button:hover {
    background-color: var(--black);
    color: var(--aureolin);
    border: 1px solid var(--aureolin);
}