.galleryTitle {
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.galleryCriterion {
    font-size: 2.2rem;
    font-family: var(--font-display);
    color: var(--glaucous);
    font-weight: 400;
}

.galleryIcon {
    height: 44px;
    margin: auto 4px auto 11px;
    border: 1px dotted var(--rich-black);
    border-radius: 4px;
}

.galleryRedditName {
    font-size: 2.2rem;
    font-family: var(--font-display);
    color: var(--rich-black);
    font-weight: 300;
}

.galleryCriterion:before,
.galleryRedditName:after {
    content: '\2630';
    padding: 0 8px;
    font-size: 1.7rem;
    color: var(--glaucous);
    position: relative;
    bottom: 2px;
}

.gallerySubtitle {
    font-family: var(--font-main);
    font-weight: 300;
    margin-bottom: 31px;
    font-size: 1.5rem;
    text-align: center;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 44px 22px;
}


/* mediaqueries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .galleryCriterion,
    .galleryRedditName {
        font-size: 1.5rem;
    }

    .galleryIcon {
        border: none;
        height: 2.4rem;
    }

    .galleryCriterion:before,
    .galleryRedditName:after {
        font-size: 1.1rem;
    }

    .gallerySubtitle {
        display: none;
    }

    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 22px;
    }
}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) and (max-width: 821px) {
    .galleryTitle {
        margin-bottom: 8px;
    }

    .galleryCriterion,
    .galleryRedditName {
        font-size: 1.5rem;
    }

    .galleryIcon {
        border: none;
        height: 2.4rem;
    }

    .galleryCriterion:before,
    .galleryRedditName:after {
        font-size: 1.2rem;
    }

    .gallerySubtitle {
        font-size: 1.1rem;
        margin-bottom: 17px;
    }

    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 22px;
    }
}

/* Medium devices (landscape tablets, 822px and up) */
@media only screen and (min-width: 822px) and (max-width: 991px) {

    .galleryCriterion,
    .galleryRedditName {
        font-size: 2.2rem;
    }

    .galleryIcon {
        border: none;
        height: 2.4rem;
    }

    .galleryCriterion:before,
    .galleryRedditName:after {
        font-size: 1.7rem;
    }

    .gallerySubtitle {
        font-size: 1.5rem;
    }

    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 22px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .galleryCriterion,
    .galleryRedditName {
        font-size: 2.2rem;
    }

    .galleryIcon {
        height: 3.1rem;
    }

    .galleryCriterion:before,
    .galleryRedditName:after {
        font-size: 1.7rem;
    }

    .gallerySubtitle {
        font-size: 1.5rem;
    }

    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 22px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}