.galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 35px 35px;
}


/**** Media Queries ****/

/* Large Desktop And Above */
@media only screen and (min-width: 1441px) {}

/* Standard Desktop and Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
    .galleryContainer {
        gap: 31px 31px;
    }
  
}

/* Tablet Landscape */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .galleryContainer {
        gap: 19px 19px;
    }
}

/* Tablet Portrait and Large Smartphone */
@media only screen and (min-width: 854px) and (max-width: 991px) {
    .galleryContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 19px 19px;
    }
}

/* Smartphone Portrait or Smaller */
@media only screen and (max-width: 853px) {
  
}
