.detailsContainer {
    background-color: var(--cool-gray);
    position: relative;
    /* just for the button */
    padding: 31px;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-areas:
        'image image image primary primary primary primary primary'
        'image image image empty empty empty addBtn addBtn';
    text-align: left;
    justify-content: left;
    align-items: top;
    border: 4px solid var(--white);
}

.detailsContainer * {
    /* overflow: hidden; */
}

.detailsContainer .square {
    grid-area: image;
    aspect-ratio: 1 / 1;
    width: 100%;
    border: 1px solid black;
}

.detailsContainer img {
    object-fit: fill
}

.detailsContainer p.noImage {
    background-color: var(--cool-gray);
    color: black;
    text-align: center;
    height: 100%;
    padding-top: 44%;
    font-family: var(--font-display);
}

.detailsContainer .textPrimary {
    grid-area: primary;
    padding: 0 26px 44px 44px;
}

.detailsContainer .textPrimary>p {
    margin-bottom: 8px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}

.detailsContainer p:first-child {
    margin-top: 0px;
}

.detailsContainer p:last-child {
    margin-bottom: 0px;
}

.detailsContainer .albumTitle {
    font-weight: 800;
    font-size: 2em;
    font-weight: 800;
}

.detailsContainer .bandName {
    font-size: 1.5em;
    font-weight: 700;
}

.albumDataDiv {
    display: grid;
    grid-template-columns: 13% 33% 8% 13% 33%;
    grid-gap: 6px;
    border-top: 1px solid var(--space-cadet);
    border-bottom: 1px solid var(--space-cadet);
    padding: 11px 0;
}

.albumDataDivLabel,
.genreSummaryLabel {
    font-weight: 700;
    color: var(--space-cadet);

}

.genreSummary,
.priceSection {
    display: grid;
    grid-template-columns: 13% 87%;
    grid-gap: 6px;
    padding: 11px 0;
}

.priceSection {
    border-top: 1px solid var(--space-cadet);
    align-items: flex-end;
    margin-bottom: 1em;
}

.price {
    font-size: 1.5em;
    font-weight: 600;
}

/**** Media Queries ****/

/* Large Desktop And Above */
@media only screen and (min-width: 1441px) {}

/* Standard Desktop and Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
    .detailsContainer {
        padding: 26px;
        border: 3px solid var(--white);
    }

    .detailsContainer .textPrimary {
        grid-area: primary;
        padding: 0 19px 35px 31px;
    }
}

/* Tablet Landscape */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .detailsContainer {
        padding: 17px;
        border: 2px solid var(--white);
    }

    .detailsContainer .textPrimary {
        grid-area: primary;
        padding: 0 22px 44px 19px;
    }

    .albumDataDivLabel,
    .genreSummaryLabel {
        font-weight: 500;
        font-size: 1em;
        color: var(--black);
    }
}

/* Tablet Portrait and Large Smartphone */
@media only screen and (min-width: 854px) and (max-width: 991px) {
    .detailsContainer {
        padding: 11px;
        border: 1px solid var(--white);
    }

    .detailsContainer .textPrimary {
        grid-area: primary;
        padding: 0 11px 31px 15px;
    }

    .albumDataDiv {
        grid-template-columns: 13% 35% 4% 13% 35%;
        grid-gap: 4px;
        padding: 8px 0;
    }

    .genreSummary {
        display: inline-block;
    }

    .genreSummaryLabel {
        padding-top: 4px;
    }
}

/* Smartphone Portrait or Smaller */
@media only screen and (max-width: 853px) {
    .detailsContainer {
        padding: 11px;
        display: grid;
        grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
        grid-template-areas:
            'image image image primary primary primary primary primary'
            'image image image empty empty empty addBtn addBtn';
        text-align: left;
        justify-content: left;
        align-items: top;
        border: 1px solid var(--white);
    }

    .detailsContainer .textPrimary {
        grid-area: primary;
        padding: 0 8px 31px 15px;
    }

    .albumDataDiv {
        grid-template-columns: 13% 35% 4% 13% 35%;
        grid-gap: 4px;
        padding: 8px 0;
    }

    .genreSummary {
        display: inline-block;
    }

    .genreSummaryLabel {
        padding-top: 4px;
    }
}