/* --space-cadet
--cool-gray */
.orderCard {
    padding: .4em;
    color: var(--space-cadet);
    background-color: var(--cool-gray);
}

.orderCard .firstRow {
    padding: .4em .6em;
    display: grid;
    grid-template-columns: 10% 33% 24% 16% 15%;
    grid-gap: .5%;
    margin-bottom: 20px;
    border-bottom:1px double var(--white);
}

.orderCard .firstRow p {
    /* border: 1px solid red; */
}

.orderCard .firstRow p:nth-child(1),
.orderCard .firstRow p:nth-child(2),
.orderCard .firstRow p:nth-child(3) {
    text-align: left;
}

.orderCard .firstRow p:nth-child(4),
.orderCard .firstRow p:nth-child(5) {
    text-align: right;
}

.orderCard p {
    font-size: .9em;
}

.orderCard p span {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--space-cadet);
}

.orderCard .secondRow .orderedAlbum {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--white);
    border-radius: 4px;
    margin-bottom: .4em;
}

.orderCard .secondRow .orderedAlbum div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: .6em;
}

.orderCard .secondRow .orderedAlbum img {
    height: 3.5em;
}

.orderCard .secondRow .orderedAlbum h1 {
    font-weight: 700;
    font-size: 1.4em;
}

.orderCard .secondRow .orderedAlbum h2 {
    font-weight: 600;
    font-size: 1.3em;
}

