
.btnGeneric {
  height: 35px;
  min-width: 110px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--space-cadet);
  outline: none;
  border: 1px solid var(--white);
  border-radius: 8px;
  cursor: pointer;
}

.btnGeneric:hover {
  background-color: var(--black);
  color: var(--aureolin);
  border: 1px solid var(--aureolin);
}