.card {
    display: flex;
    text-align: left;
    flex-direction: row;
    gap: 11px;
    padding: 4px;
    justify-content: left;
    align-items: center;
    background-color: var(--white);
}

.card .square {
    aspect-ratio: 1 / 1;
    width: 44%;
    padding: 4px
}

.card img {
    object-fit: fill
}

.card .noImage {
    background-color: var(--cool-gray);
    color: black;
    text-align: center;
    height: 100%;
    padding-top: 44%;
    font-family: var(--font-display);
}

.card .cardText {
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 53%;
    width: 100%;
}

/* fix issues with very long album and band names */
.card .cardText p {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* album names 3 row max */
.card .albumName {
    max-height: 80px;
}

/* band names 1 row max */
.card .cardText p:nth-child(4) {
    max-height: 19px;
}

/* bold text of band name and year */
.card .cardText p>span {
    font-weight: 700;
}

hr {
    width: 96%;
    margin: 8px 0;
    border: 1px solid var(--cool-gray);
}

/* align top to img */
hr:first-child {
    margin-top: 4px;
}

.card .albumName,
.card .price {
    font-size: 1.3em;
    font-weight: 700;
}

.cardTextBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {}