.card {
    display: flex;
    text-align: left;
    flex-direction: row;
    gap: 11px;
    justify-content: left;
    align-items: center;
    background-color: var(--white);
}

.card .square {
    aspect-ratio: 1 / 1;
    width: 44%;
    background-color: aqua;
    margin: 4px;
}

.card .coverImage img {
    object-fit: fill
}

.card .cardText {
    display: flex;
    flex-direction: column;
    max-width: 53%;
}




/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {}