@import '../index.css';


.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 1em;
}

.cartContainer h1 {
    font-family: var(--font-display);
    color: var(--space-cadet);
    /* --cool-gray; */
    font-weight: 700;
    font-size: 1.34em;
}

/* first is empty div, so that total is centered, order btn on right */
.cartContainer .total-orderBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    padding: 1%;
    margin-top: 1em;
    background-color: var(--cool-gray);
    height: 3.5em;
    border-radius: 14px;
    margin-bottom: .8em;
}

.cartContainer .total-orderBtn h2 {
    width: 30%;
    font-weight: 600;
}

.cartContainer .total-orderBtn h2 span {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--space-cadet);
    text-decoration: underline;
}




/**** Media Queries ****/

/* Large Desktop And Above */
@media only screen and (min-width: 1441px) {}

/* Standard Desktop and Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {}

/* Tablet Landscape */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Portrait and Large Smartphone */
@media only screen and (min-width: 854px) and (max-width: 991px) {}

/* Smartphone Portrait or Smaller */
@media only screen and (max-width: 853px) {}