.cart-item {
    display: grid;
    grid-template-columns: 15% 74% 5%;
    grid-template-areas:
        'image details buttons';
    text-align: left;
    gap: 3%;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--cool-gray);
    border-radius: 14px;
}

.cart-item * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item:first-child {
    margin-top: 2em;
}

.cart-item .cover-image {
    grid-area: image;
    aspect-ratio: 1 / 1;
    width: 100%;
    border: 1px solid black;
}

.cart-item .details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cart-item .album-name {
    border-top: 1px solid var(--space-cadet);
    padding-top: .5em;
    padding-bottom: .2em;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--space-cadet);
}

.cart-item .band-name {
    padding-bottom: .5em;
}

.cart-item .band-name>span {
    font-size: 1.3em;
    font-weight: 600;
}

.cart-item .year-color {
    font-size: 1.1em;
    font-weight: 600;
}

.price {
    font-weight: 700;
    border-bottom: 1px solid var(--space-cadet);
    padding-bottom: .5em;
    font-size: 1.2em;
    font-weight: 700;

}

.amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
}

.cart-item .actions {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

/* A bit unusual maybe but icon is actually wrapper of the button */
.cart-item .actions .reactIcons {
    width: 2em;
    height: 2em;
}

.cart-item .actions button {
    height: 3em;
    width: 3em;
    font-weight: 600;
    color: var(--white);
    background-color: var(--space-cadet);
    outline: none;
    border: 1px solid var(--white);
    border-radius: 8px;
    cursor: pointer;
}

.cart-item .actions button:hover {
    background-color: var(--black);
    color: var(--aureolin);
    border: 1px solid var(--aureolin);
}