.cart-item {
    display: grid;
    grid-template-columns: 15% 11% 11% 11% 11% 11% 11% 8%;
    grid-template-areas:
        'image details details details details details buttons';
    text-align: left;
    gap: 1.7%;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--cool-gray);
    border-radius: 14px;
}

.cart-item:first-child {
    margin-top: 2em;
}

.cart-item .cover-image {
    grid-area: image;
    aspect-ratio: 1 / 1;
    width: 100%;
    border: 1px solid black;
}

.cart-item .details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cart-item .album-name {
    border-top: 1px solid var(--space-cadet);
    padding-top: .5em;
    font-size: 1.2em;
    font-weight: 700;
}

.cart-item .band-name {}

.cart-item .release-year {}

.price {
    font-weight: 700;
    border-bottom: 1px solid var(--space-cadet);
    padding-bottom: .5em;
    font-size: 1.2em;
    font-weight: 700;

}

.amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
}

.cart-item .actions {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item .actions button {
    height: 31px;
    /* width: 31px; */
    font-weight: 600;
    color: var(--white);
    background-color: var(--space-cadet);
    outline: none;
    border: 1px solid var(--white);
    border-radius: 8px;
    cursor: pointer;
}

.btnGeneric:hover {
    background-color: var(--black);
    color: var(--aureolin);
    border: 1px solid var(--aureolin);
}