@import '../index.css';


.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 1em;
}

.cartContainer h1{
    font-family: var(--font-display);
    color: var(--space-cadet);
    /* --cool-gray; */
    font-weight: 700;
    font-size: 1.34em;
}




/**** Media Queries ****/

/* Large Desktop And Above */
@media only screen and (min-width: 1441px) {}

/* Standard Desktop and Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {}

/* Tablet Landscape */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Portrait and Large Smartphone */
@media only screen and (min-width: 854px) and (max-width: 991px) {}

/* Smartphone Portrait or Smaller */
@media only screen and (max-width: 853px) {}