@import '../index.css';

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 44px;
    background-color: var(--space-cadet);
    margin-bottom: 44px;
    border-bottom: 2px solid var(--cool-gray);
    padding-bottom: 44px;
}

.headerLeft,
.headerCentre,
.headerRight {
    display: flex;
    align-items: flex-end;
    flex: 0 0 1;
}

.headerLeft,
.headerCentre {
    gap: 11px;
}

.headerRight {
    gap: 22px;
}

.headerLeft>h1 {
    font-family: var(--font-display);
    color: var(--cool-gray);
    font-size: 1.7em;
}

.headerLeft>img {
    height: 62px;
}

.headerCentre {
    align-content: center;
}

.headerCentre>input {
    /* margin-right: 11px; */
    width: 100%;
    padding-left: 8px;
    background-color: var(--cool-gray);
    border: none;
    height: 35px;
    border: 1px solid var(--white);
    border-radius: 8px;
}


.headerRight .btnRight {
    background-color: var(--cool-gray);
    padding: 8px;
    border: 1px solid var(--white);
    border-radius: 44px;
    /* icons to be centered vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.headerRight .btnRight:hover {
    background-color: var(--black);
    color: var(--aureolin);
    border: 1px solid var(--aureolin);
}

.reactIcons {
    fill: black;
    height: 31px;
    width: 31px;
}

.reactIcons:hover {
    fill: var(--aureolin);
}

.userDiv {
    display: flex;
    justify-content: space-between;
    gap: 11px
}

#userHello {
    background-color: var(--cool-gray);
    height: 35px;
    min-width: 110px;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    position: relative;}

#userHello p {
    font-size: .6em;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: .9;
}

#userHello span {
    font-size: 1.7em;
    font-weight: 600;
    overflow: hidden;
}



/* mediaqueries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) and (max-width: 821px) {}

/* Medium devices (landscape tablets, 822px and up) */
@media only screen and (min-width: 822px) and (max-width: 991px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}