@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Sixtyfour&display=swap');

:root {
  --font-main: "Hepta Slab", serif;
  --font-display: "Sixtyfour", sans-serif;

  /* CSS HSL */
  --space-cadet: hsla(235, 21%, 21%, 1);
  --cool-gray: hsla(218, 17%, 62%, 1);
  /* 8e9aaf */
  --aureolin: hsla(59, 94%, 57%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
}

html {
  background-color: var(--space-cadet);
  margin: 53px 71px;
}


a {
  text-decoration: none;
}

/**** Media Queries ****/

/* Large Desktop And Above */
@media only screen and (min-width: 1441px) {}

/* Standard Desktop and Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  * {
    font-size: 14px;
  }

  html{
    margin: 31px 40px;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  * {
    font-size: 13px;
  }

  html{
    margin: 19px 19px;
  }
}

/* Tablet Portrait and Large Smartphone */
@media only screen and (min-width: 854px) and (max-width: 991px) {
  * {
    font-size: 13px;
  }

  html{
    margin: 17px 17px;
  }
}

/* Smartphone Portrait or Smaller */
@media only screen and (max-width: 853px) {
  * {
    font-size: 13px;
  }

  html{
    margin: 11px 11px;
  }

}